@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
}

.container-fluid {
    padding: 30px 10%;
}

.navbar-nav {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}

nav {
    opacity: 0.98;
}

.card {
    margin-bottom: 50px;
}

.cardButtons {
    width: 100%;
}

.nav-item {
    margin: 0px 30px;
}

.sticky-offset {
    position: sticky;
    top: 70px;
}

.doc-item {
    padding: 20px 80px;
}

.checklistbox {
    width: 100%;
    padding: 20px 70px;
}

#checklist {
    margin-top: 40px;
}

.check {
    color: rgb(201, 201, 201);
}

body {
    background-color: rgb(255, 254, 250);
}

.card {
    background-color: rgb(255, 255, 255);
}

.carousel-control-prev-icon {
    color: red;
}

.carousel-control-next-icon {
    color: red;
}


